body {
  display: block;
  width: auto;
  height: auto;
}

#content {
  position: relative;
  top: 50px;
}

@-webkit-keyframes slideIn {
    from { left: 100vw; }
    to { left: 0vw; }
}

.category-container {
  position: absolute;
  width: 100vw;
  left: 100vw;
  -webkit-animation: slideIn 0.3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

img {
  width: 100vw;
}

div {
  margin: auto;
  display: block;
}
